<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903901516033-ctvivfbdmk23rd758qsmhivfrq90durt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903901516033-ctvivfbdmk23rd758qsmhivfrq90durt</string>
	<key>API_KEY</key>
	<string>AIzaSyATSeCaxbkpHnAfbg7ekRnZp1hRQ-P4Z0g</string>
	<key>GCM_SENDER_ID</key>
	<string>903901516033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatRoom</string>
	<key>PROJECT_ID</key>
	<string>chat-app-309bb</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-309bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903901516033:ios:daca41a35af12750c44b00</string>
</dict>
</plist>